.pnf-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
}

.pnf-title h1 {
    font-size: 30vw; 
    text-align: center;
    margin-top: -200px; /*This isn't good practice*/
    margin-bottom: 40px;
}

.pnf-message h2 {
    font-size: 5vw;
    text-align: center;
}

.pnf-robot-one{
    width: 350px;
    height: auto;
    opacity: 0.5;
    display: block;
    margin: -200px auto 0; /*This isn't good practice*/
    margin-bottom: 10px;
}

.pnf-robot-two,
.pnf-robot-three{
    display: none;
}

@media (min-width: 768px) {

    .pnf-title h1 {
        font-size: 6vw; 
        text-align: center;
        margin-bottom: 40px;
    }

    .pnf-message h2 {
        font-size: 1.7vw;
        text-align: center;
    }

    .pnf-robot-one {
        position: absolute;
        top: 25%;
        left: 20%;  
        width: 15vw;
        opacity: 0.5;
        margin: -60px;
    }

    .pnf-robot-two {
        position: absolute;
        top: 45%;
        left: 75%;  
        width: 21vw;
        opacity: 0.5;
        display: block;
    }

    .pnf-robot-three {
        position: absolute;
        top: 60%;
        left: 15%;  
        width: 11vw;
        opacity: 0.5;
        display: block;
        margin-bottom: 100px;
    }
}

