.welcome-text{
    white-space: nowrap; /*text always stays on one line*/
    overflow: hidden; /*Makes sure the text isn't visable past the edges*/
    width: 0;
    border-right: 2px solid transparent; /*The cursor*/
    animation: typing 1.7s steps(15, end) forwards, /*Forwards means the animation stops at the end*/
    blinking 1s 4.8; /*Stops after 4.8 seconds*/
    color: var(--typing-colour);
  }
  
  @keyframes typing {
    from { width: 0; margin: 60px auto; } /*auto margin to keep the text centered through the animation*/
    to { width: 28.5ch; margin: 60px auto; }
  }
  
  @keyframes blinking {
    0% {border-right-color: transparent}
    50% {border-right-color: var(--typing-colour)}
    100% {border-right-color: transparent}
  }
  
  .welcome-paragraph {
    max-width: 630px;
    margin: 60px auto;
    padding: 0 16px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .ethanmyles-heading{
    text-align: center;
    margin-top: 20px;
  }

  hr{
    width: 60%;
    color: rgb(58, 57, 57);
  }

  body:not(.dark) .ethanmyles-heading p {
    color: #007fff;
  }

  body.dark .ethanmyles-heading p {
    color: #007fff;
  }
  